In [ ]:
import pandas as pd
a =  [1,2,3]
b = list("abc")
c = dict(zip(a,b))

In [15]:
c

{1: 'a', 2: 'b', 3: 'c'}

In [19]:
d = {1:[1,2,3],2:[10,20,30],3:[100,200,300]}
kakao=pd.DataFrame(d)

In [20]:
kakao

   1   2    3
0  1  10  100
1  2  20  200
2  3  30  300

In [11]:
import pandas as pd
kakao = pd.Series([100,200], index=['naver','kt'])
daum = pd.Series([50,60], index=['kt','naver'])

In [12]:
a = [1,2,3,4,5]
a[1]

2

In [13]:
kakao

naver    100
kt       200
dtype: int64

In [24]:
x=1
y=2.0
z="korea"
q=[1,2,3]
s=(10,20,30)
w={1:'a',2:'b'}
###반복
for x in [1,2,3]:
    print(x)
    temp = 0
    temp = temp + x

1
2
3

In [ ]:
###분기
x= 100
if x < 2:
    print('ok')