In [30]:
#시리즈와 데이터 프레임 안에 별도로 관리를 하는 인덱스라는 클래스가 있다.
import numpy as np
import pandas as pd

In [38]:
idx1 = pd.Index([1,2,3,4])#집합 객체라 뒤에 무언가를 붙일 수 있어서 ([])로 괄호 2개로 묶었나.?
type(idx1)
#밑 처럼 시리즈를 만드는 김에 만드는 것이 아니라 따로 인덱스 형식으로 만든다.

pandas.core.indexes.numeric.Int64Index

In [48]:
pd.Series([10,20,30],Index([1,2,3]))

NameError: name 'Index' is not defined

In [40]:
idx2 = pd.Index(range(1,4)) #미리 1~4까지 만들어 놓는 것이 아니라 range타입으로 메모리에 기억하다가 호출되면 1~4까지 만든다.
type(idx2)

pandas.core.indexes.range.RangeIndex

In [41]:
idx1.dtype #인덱스 안의 객체는 정수형

dtype('int64')

In [42]:
idx_s = pd.Index(['a','b','c']) #object 타입
idx_s

Index(['a', 'b', 'c'], dtype='object')

In [43]:
idx_s.values

array(['a', 'b', 'c'], dtype=object)

In [45]:
idx_f=pd.Index([1,2,3,4],dtype='float') #floㅁt로 바꾸었다.
idx_f

Float64Index([1.0, 2.0, 3.0, 4.0], dtype='float64')

In [53]:
idx1[0] #인덱스를 가지고 있는 집합 객체이기 때문에 대상으로도 인덱싱, 슬라이싱이 가능하다, 집합이긴하나 행 개념이 없다.
idx_s[:]
idx1[[0]] #펜시 검색도 가능.인덱스 객체로 나온다.

Int64Index([1], dtype='int64')

In [54]:
idx1[idx1<3]

Int64Index([1, 2], dtype='int64')

In [55]:
idx4 = pd.Index([4,5,6,7])

In [58]:
try: #인덱스를 붙여놓은 의미가 있기 때문에 변경이 불가능해서 오류 문구가 뜬다.
    idx4[0] = 100
except Exception as e:
    print(e)

Index does not support mutable operations

In [59]:
idx4 = pd.Index([1,2,3,4])
idx4

Int64Index([1, 2, 3, 4], dtype='int64')

In [60]:
idx1

Int64Index([1, 2, 3, 4], dtype='int64')

In [61]:
idx2

RangeIndex(start=1, stop=4, step=1)

In [63]:
idx1.difference(idx2) #순서없는 집합에서 차집합

Int64Index([4], dtype='int64')

In [64]:
idx1+3 #연산자 +에 배열안의 모든 값이 더해지게 설정을 해놓았다.

Int64Index([4, 5, 6, 7], dtype='int64')

In [65]:
##seon.kr

In [67]:
np.arange(4).reshape(2,2)

array([[0, 1],
       [2, 3]])

In [68]:
s1=pd.Series(index=list('aabb'), data = np.arange(4))#암시적으로 넣을 때는 맨 앞에 값을 넣어야 하나 명시적으로 Index라는 명칭을 넣었기 때문에 상관x

In [81]:
s1

b    0
a    1
a    2
a    3
dtype: int32

In [82]:
s2=pd.Series(index=list('baaa'), data = np.arange(4))
s2

b    0
a    1
a    2
a    3
dtype: int32

In [83]:
s1+s2 #인덱스(의미)가 안맞다.(의미가 없다.) 행렬 연산을 해버린다.
#하지만 정렬이 중요하기 때문에 정렬 연산을 한다.

b    0
a    2
a    4
a    6
dtype: int32

In [84]:
s1.sort_index().add(s2.sort_index())#인덱스 타입이 오브젝트로 맞기 때문에 정렬 가능하다.

a    2
a    4
a    6
b    0
dtype: int32

In [85]:
s1=pd.Series(index=list('aaab'), data = np.arange(4))
s1.sort_index().add(s2.sort_index()) #요소가 같으니 요소끼리 더한다.

a    1
a    3
a    5
b    3
dtype: int32

In [86]:
s1=pd.Series(index=list('baaa'), data = np.arange(4))
s1+s2 #요소가 순서나 형태가 완전히 같아서 요소별 끼리 저해진다.

b    0
a    2
a    4
a    6
dtype: int32

In [88]:
idx_d = pd.Index(pd.date_range('20130101',periods=3))
idx_d

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03'], dtype='datetime64[ns]', freq='D')

In [89]:
idx_d.values

array(['2013-01-01T00:00:00.000000000', '2013-01-02T00:00:00.000000000',
       '2013-01-03T00:00:00.000000000'], dtype='datetime64[ns]')

In [92]:
i=pd.DatetimeIndex(['2014-07-04','2014-08-04','2015-07-04','2015-08-04'])

In [93]:
data = pd.Series([0,1,2,3],index=i)

In [94]:
data

2014-07-04    0
2014-08-04    1
2015-07-04    2
2015-08-04    3
dtype: int64

In [95]:
i.shape

(4,)

In [98]:
i.dtype

dtype('<M8[ns]')

In [99]:
dr1 = pd.date_range('2018-07-03','2018-07-10') #기본 디폴트는 day
dr1

DatetimeIndex(['2018-07-03', '2018-07-04', '2018-07-05', '2018-07-06',
               '2018-07-07', '2018-07-08', '2018-07-09', '2018-07-10'],
              dtype='datetime64[ns]', freq='D')

In [100]:
dr2 = pd.date_range('2018-07-03',periods=8)
dr2

DatetimeIndex(['2018-07-03', '2018-07-04', '2018-07-05', '2018-07-06',
               '2018-07-07', '2018-07-08', '2018-07-09', '2018-07-10'],
              dtype='datetime64[ns]', freq='D')

In [102]:
dr3 = pd.date_range('2018-08-03',periods=24,freq='H') #시간단위

In [103]:
dr3

DatetimeIndex(['2018-08-03 00:00:00', '2018-08-03 01:00:00',
               '2018-08-03 02:00:00', '2018-08-03 03:00:00',
               '2018-08-03 04:00:00', '2018-08-03 05:00:00',
               '2018-08-03 06:00:00', '2018-08-03 07:00:00',
               '2018-08-03 08:00:00', '2018-08-03 09:00:00',
               '2018-08-03 10:00:00', '2018-08-03 11:00:00',
               '2018-08-03 12:00:00', '2018-08-03 13:00:00',
               '2018-08-03 14:00:00', '2018-08-03 15:00:00',
               '2018-08-03 16:00:00', '2018-08-03 17:00:00',
               '2018-08-03 18:00:00', '2018-08-03 19:00:00',
               '2018-08-03 20:00:00', '2018-08-03 21:00:00',
               '2018-08-03 22:00:00', '2018-08-03 23:00:00'],
              dtype='datetime64[ns]', freq='H')

In [104]:
dr3.to_period('D')

PeriodIndex(['2018-08-03', '2018-08-03', '2018-08-03', '2018-08-03',
             '2018-08-03', '2018-08-03', '2018-08-03', '2018-08-03',
             '2018-08-03', '2018-08-03', '2018-08-03', '2018-08-03',
             '2018-08-03', '2018-08-03', '2018-08-03', '2018-08-03',
             '2018-08-03', '2018-08-03', '2018-08-03', '2018-08-03',
             '2018-08-03', '2018-08-03', '2018-08-03', '2018-08-03'],
            dtype='period[D]', freq='D')

In [110]:
tm_1 = pd.timedelta_range(0,periods=10,freq='H') #타임 기준인 객체
tm_1

TimedeltaIndex(['00:00:00', '01:00:00', '02:00:00', '03:00:00', '04:00:00',
                '05:00:00', '06:00:00', '07:00:00', '08:00:00', '09:00:00'],
               dtype='timedelta64[ns]', freq='H')

In [111]:
tm_1- tm_1[1]

TimedeltaIndex(['-1 days +23:00:00',          '00:00:00',          '01:00:00',
                         '02:00:00',          '03:00:00',          '04:00:00',
                         '05:00:00',          '06:00:00',          '07:00:00',
                         '08:00:00'],
               dtype='timedelta64[ns]', freq='H')

In [116]:
data = pd.read_csv('hanriver_bridge.csv', index_col='Date', parse_dates=True, encoding='cp949')
data.head(5)

                     한강 좌측 인도  한강 우측 인도
Date
2012-10-03 00:00:00       4.0       9.0
2012-10-03 01:00:00       4.0       6.0
2012-10-03 02:00:00       1.0       1.0
2012-10-03 03:00:00       2.0       3.0
2012-10-03 04:00:00       6.0       1.0

In [117]:
data.columns #컬럼들도 인덱스 객체로 관리되고 있다.

Index(['한강 좌측 인도', '한강 우측 인도'], dtype='object')

In [118]:
data.index

DatetimeIndex(['2012-10-03 00:00:00', '2012-10-03 01:00:00',
               '2012-10-03 02:00:00', '2012-10-03 03:00:00',
               '2012-10-03 04:00:00', '2012-10-03 05:00:00',
               '2012-10-03 06:00:00', '2012-10-03 07:00:00',
               '2012-10-03 08:00:00', '2012-10-03 09:00:00',
               ...
               '2018-05-31 14:00:00', '2018-05-31 15:00:00',
               '2018-05-31 16:00:00', '2018-05-31 17:00:00',
               '2018-05-31 18:00:00', '2018-05-31 19:00:00',
               '2018-05-31 20:00:00', '2018-05-31 21:00:00',
               '2018-05-31 22:00:00', '2018-05-31 23:00:00'],
              dtype='datetime64[ns]', name='Date', length=49608, freq=None)

In [125]:
data.columns = ['좌측','우측']
data.columns

Index(['좌측', '우측'], dtype='object')

In [128]:
data['합산'] = data.eval('좌측+우측') #붙어있는 ''''를 빼고 더해준다.
data.head()

                      좌측   우측    합산
Date
2012-10-03 00:00:00  4.0  9.0  13.0
2012-10-03 01:00:00  4.0  6.0  10.0
2012-10-03 02:00:00  1.0  1.0   2.0
2012-10-03 03:00:00  2.0  3.0   5.0
2012-10-03 04:00:00  6.0  1.0   7.0

In [130]:
data.isnull().sum()
data.shape

(49608, 3)

In [132]:
data_dp=data.dropna()

In [134]:
data_dp.shape

(49600, 3)

In [139]:
daily = data.resample('D').sum() #24시로 펼쳐놓은 것을들을 더해준다.
daily.head(5)

                좌측      우측      합산
Date
2012-10-03  1760.0  1761.0  3521.0
2012-10-04  1708.0  1767.0  3475.0
2012-10-05  1558.0  1590.0  3148.0
2012-10-06  1080.0   926.0  2006.0
2012-10-07  1191.0   951.0  2142.0

In [140]:
weekly_r = data.resample('w').mean()

In [141]:
weekly_r.head()

                   좌측         우측          합산
Date
2012-10-07  60.808333  58.291667  119.100000
2012-10-14  51.660714  48.309524   99.970238
2012-10-21  47.297619  45.017857   92.315476
2012-10-28  41.077381  38.904762   79.982143
2012-11-04  38.142857  34.440476   72.583333

In [142]:
#범주형 인덱스

In [143]:
inx_i = pd.CategoricalIndex([1,2,3,4])
inx_i

CategoricalIndex([1, 2, 3, 4], categories=[1, 2, 3, 4], ordered=False, dtype='category')

In [147]:
s = pd.Series([1,2,3,4], index=inx_i)
s

1    1
2    2
3    3
4    4
dtype: int64

In [146]:
s.index 위의 inx_i와 같다.

CategoricalIndex([1, 2, 3, 4], categories=[1, 2, 3, 4], ordered=False, dtype='category')

In [149]:
s[3]=100
s

1      1
2      2
3      3
4    100
dtype: int64

In [150]:
s[7]=5 #인덱스 번호가 없기 때문에 오류

IndexError: index 7 is out of bounds for axis 0 with size 4

In [152]:
s.index = s.index.add_categories(5) #인덱스는 바꿀 수 없지만 이 메소드로 바꾼다.

In [153]:
s.index

CategoricalIndex([1, 2, 3, 4], categories=[1, 2, 3, 4, 5], ordered=False, dtype='category')

In [154]:
#사실 컬럼의 이름도 인덱스로 관리된다. 컬럼으로 접근해놓고 인덱스로 접근하는 것이 아니라 컬럼, 행 둘다 인덱스라는 객체로서 접근해보자
#멀티 인덱스

In [164]:
ind = [('서울',2017),('경기도',2017)] #검색 하기 애매함. 튜플로 지정해서 서울 2017라고 검색해야함
si = pd.Series(np.random.randint(1,10,2), index=ind)
si

(서울, 2017)     9
(경기도, 2017)    1
dtype: int32

In [165]:
si['서울',2017]

9

In [166]:
si[('서울',2017)] #튜플은 ()를 생략할 수 있다.

9

In [179]:
index = pd.MultiIndex.from_tuples(ind) #멀티 인덱스로 만들어줌. 자동 정렬 및 중복 제거

In [180]:
index

MultiIndex(levels=[['경기도', '서울'], [2017]],
           codes=[[1, 0], [0, 0]])

In [177]:
s=pd.Series(np.random.randint(1,10,2),index=index)

In [178]:
s

서울   2017    2
경기도  2017    5
dtype: int32

In [173]:
s['서울']

2017    4
dtype: int32

In [176]:
s['서울',2017] #인덱스가 2개인 셈이다.

4