In [2]:
import pandas as pd
op = pd.read_csv('series_dataframe.csv')
op.head()

       Member      Series   DataFrame
0           T           T           T
1         abs         abs         abs
2         add         add         add
3  add_prefix  add_prefix  add_prefix
4  add_suffix  add_suffix  add_suffix

In [3]:
(op['Series'] == op['DataFrame']).head() #boolean 타입이라 마스킹 기법이 어울릴 것 같다

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [11]:
op_eq=op.loc[(op['Series'] == op['DataFrame'])] #loc 행단위 마스킹

In [12]:
op_eq.shape

(190, 3)

In [13]:
op_eq_list = op_eq['Member'].tolist()#리스트로 만든다.

In [14]:
op_eq_list

['T',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'as_blocks',
 'as_matrix',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'axes',
 'between_time',
 'bfill',
 'blocks',
 'bool',
 'clip',
 'clip_lower',
 'clip_upper',
 'combine',
 'combine_first',
 'compound',
 'consolidate',
 'convert_objects',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_csv',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_value',
 'get_values',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'interpolate',
 'is_copy',
 'isin',
 'isna',
 'isnull',
 'ix',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_axis',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select',
 'sem',
 'set_axis',
 'set_value',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'sortlevel',
 'squeeze',
 'std',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_msgpack',
 'to_period',
 'to_pickle',
 'to_sparse',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'where',
 'xs']

In [17]:
import types
count = 0
for i in op_eq_list:
    try:
        if type(pd.Series.__dict__[i])==types.FunctionType:
            print(i,end=',')
            count +=1
        if count % 7 ==0:
            print()
    except Exception as e:
        pass

add,agg,aggregate,align,all,any,append,
apply,combine,combine_first,compound,corr,count,cov,
cummax,cummin,cumprod,cumsum,diff,div,divide,
dot,drop,drop_duplicates,dropna,duplicated,eq,ewm,
expanding,fillna,floordiv,ge,get_value,get_values,gt,
hist,idxmax,idxmin,isin,isna,isnull,keys,
kurt,kurtosis,le,lt,mad,max,mean,
median,memory_usage,min,mod,mode,mul,multiply,
ne,nlargest,notna,notnull,nsmallest,pow,prod,
product,quantile,radd,rdiv,reindex,reindex_axis,rename,
reorder_levels,replace,reset_index,rfloordiv,rmod,rmul,rolling,
round,rpow,rsub,rtruediv,sem,set_value,shift,
skew,sort_index,sort_values,std,sub,subtract,sum,
swaplevel,to_csv,to_dict,to_period,to_sparse,to_string,to_timestamp,
transform,truediv,unstack,update,var,

In [21]:
c = pd.read_csv('2017_college_tuition.csv', encoding='euc-kr')
c.dtypes

c['평균등록금'] = c['평균등록금']*1000

c.head()

         학교명 설립구분    평균등록금
0    강릉원주대학교  국공립  4262000
1      강원대학교  국공립  4116000
2  경남과학기술대학교  국공립  3771000
3      경북대학교  국공립  4351000
4      경상대학교  국공립  3967000

In [24]:
(c['평균등록금'] + c['평균등록금']).head

<bound method NDFrame.head of 0       8524000
1       8232000
2       7542000
3       8702000
4       7934000
5       6378000
6       6848000
7       7648000
8       6954000
9       7828000
10      7538000
11      7208000
12      7790000
13      6848000
14      8084000
15      6048000
16      8650000
17     10810000
18      6176000
19     11924000
20      4780000
21      7892000
22      7490000
23      9362000
24      8258000
25      8362000
26      6544000
27      7566000
28      6890000
29      7796000
         ...
166    11966000
167    13900000
168    13394000
169    14878000
170    11160000
171    12710000
172     9042000
173    18008000
174    14126000
175    14242000
176    16940000
177    14378000
178    14174000
179    13868000
180    12874000
181    14910000
182    15894000
183    15190000
184    16152000
185    14350000
186    16846000
187    13272000
188    12392000
189    14318000
190    14600000
191    12964000
192    12876000
193    15390000
194    13858000
195    16594000
Name: 평균등록금, Length: 196, dtype: int64>

In [28]:
c['평균등록금'].add(c['평균등록금']).head

<bound method NDFrame.head of 0       8524000
1       8232000
2       7542000
3       8702000
4       7934000
5       6378000
6       6848000
7       7648000
8       6954000
9       7828000
10      7538000
11      7208000
12      7790000
13      6848000
14      8084000
15      6048000
16      8650000
17     10810000
18      6176000
19     11924000
20      4780000
21      7892000
22      7490000
23      9362000
24      8258000
25      8362000
26      6544000
27      7566000
28      6890000
29      7796000
         ...
166    11966000
167    13900000
168    13394000
169    14878000
170    11160000
171    12710000
172     9042000
173    18008000
174    14126000
175    14242000
176    16940000
177    14378000
178    14174000
179    13868000
180    12874000
181    14910000
182    15894000
183    15190000
184    16152000
185    14350000
186    16846000
187    13272000
188    12392000
189    14318000
190    14600000
191    12964000
192    12876000
193    15390000
194    13858000
195    16594000
Name: 평균등록금, Length: 196, dtype: int64>

In [29]:
help(c['평균등록금'].add)

Help on method add in module pandas.core.ops:

add(other, level=None, fill_value=None, axis=0) method of pandas.core.series.Series instance
    Addition of series and other, element-wise (binary operator `add`).

    Equivalent to ``series + other``, but with support to substitute a fill_value for
    missing data in one of the inputs.

    Parameters
    ----------
    other : Series or scalar value
    fill_value : None or float value, default None (NaN)
        Fill existing missing (NaN) values, and any new element needed for
        successful Series alignment, with this value before computation.
        If data in both corresponding Series locations is missing
        the result will be missing
    level : int or name
        Broadcast across a level, matching Index values on the
        passed MultiIndex level

    Returns
    -------
    result : Series

    See Also
    --------
    Series.radd

    Examples
    --------
    >>> a = pd.Series([1, 1, 1, np.nan], index=['a', 'b', 'c', 'd'])
    >>> a
    a    1.0
    b    1.0
    c    1.0
    d    NaN
    dtype: float64
    >>> b = pd.Series([1, np.nan, 1, np.nan], index=['a', 'b', 'd', 'e'])
    >>> b
    a    1.0
    b    NaN
    d    1.0
    e    NaN
    dtype: float64
    >>> a.add(b, fill_value=0)
    a    2.0
    b    1.0
    c    1.0
    d    1.0
    e    NaN
    dtype: float64

In [34]:
c.dtypes

학교명      object
설립구분     object
평균등록금     int64
dtype: object

In [35]:
c.get_dtype_counts()

int64     1
object    2
dtype: int64

In [36]:
c.select_dtypes(include=['int64']).head()

     평균등록금
0  4262000
1  4116000
2  3771000
3  4351000
4  3967000

In [37]:
c.select_dtypes(include=['number']).head()

     평균등록금
0  4262000
1  4116000
2  3771000
3  4351000
4  3967000

In [39]:
c.select_dtypes(include=['object']).head()

         학교명 설립구분
0    강릉원주대학교  국공립
1      강원대학교  국공립
2  경남과학기술대학교  국공립
3      경북대학교  국공립
4      경상대학교  국공립

In [41]:
c['평균등록금'].value_counts().head()

3424000    2
7161000    2
6803000    1
7535000    1
6904000    1
Name: 평균등록금, dtype: int64

In [42]:
c['평균등록금'].value_counts(normalize=True).head()

3424000    0.010204
7161000    0.010204
6803000    0.005102
7535000    0.005102
6904000    0.005102
Name: 평균등록금, dtype: float64

In [44]:
c['설립구분'].value_counts().head()

사립     156
국공립     40
Name: 설립구분, dtype: int64

In [46]:
c['설립구분'].duplicated().head()

0    False
1     True
2     True
3     True
4     True
Name: 설립구분, dtype: bool

In [55]:
c['설립구분'].unique

<bound method Series.unique of 0      국공립
1      국공립
2      국공립
3      국공립
4      국공립
5      국공립
6      국공립
7      국공립
8      국공립
9      국공립
10     국공립
11     국공립
12     국공립
13     국공립
14     국공립
15     국공립
16     국공립
17     국공립
18     국공립
19     국공립
20     국공립
21     국공립
22     국공립
23     국공립
24     국공립
25     국공립
26     국공립
27     국공립
28     국공립
29     국공립
      ...
166     사립
167     사립
168     사립
169     사립
170     사립
171     사립
172     사립
173     사립
174     사립
175     사립
176     사립
177     사립
178     사립
179     사립
180     사립
181     사립
182     사립
183     사립
184     사립
185     사립
186     사립
187     사립
188     사립
189     사립
190     사립
191     사립
192     사립
193     사립
194     사립
195     사립
Name: 설립구분, Length: 196, dtype: object>

In [51]:
c['평균등록금'].nlargest(5)

173    9004000
132    8824000
128    8649000
147    8526000
146    8499000
Name: 평균등록금, dtype: int64

In [53]:
c['평균등록금'].nsmallest(5)

61           0
157    1760000
137    2000000
20     2390000
15     3024000
Name: 평균등록금, dtype: int64

In [56]:
c.nlargest(5,'평균등록금')

           학교명 설립구분    평균등록금
173  한국산업기술대학교   사립  9004000
132      연세대학교   사립  8824000
128      신한대학교   사립  8649000
147    이화여자대학교   사립  8526000
146      을지대학교   사립  8499000

In [58]:
op = pd.read_csv('series_dataframe.csv')
op_not = op.loc[(op['Series'] != op['DataFrame'])]
op_not.head()

      Member    Series DataFrame
12  applymap       NaN  applymap
13    argmax    argmax       NaN
14    argmin    argmin       NaN
15   argsort   argsort       NaN
19  asobject  asobject       NaN

In [59]:
op_not.shape

(74, 3)

In [61]:
op_ser = op_not['Series'].dropna()
op_ser_list = op_ser.tolist()
op_ser_list

['argmax',
 'argmin',
 'argsort',
 'asobject',
 'autocorr',
 'base',
 'between',
 'cat',
 'compress',
 'data',
 'dt',
 'dtype',
 'factorize',
 'flags',
 'from_array',
 'ftype',
 'hasnans',
 'imag',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'item',
 'items',
 'itemsize',
 'iteritems',
 'map',
 'name',
 'nbytes',
 'nonzero',
 'ptp',
 'put',
 'ravel',
 'real',
 'repeat',
 'reshape',
 'searchsorted',
 'str',
 'strides',
 'to_frame',
 'tolist',
 'unique',
 'valid',
 'value_counts',
 'view']

In [62]:
#인덱스 레이블 변경과 누락 값 처리

In [68]:
s = pd.Series([1,2,3,4])
s_re=s.rename({0:'a',2:'b',3:'c',4:'d'})#레이블의 변경

In [70]:
s_re

a    1
1    2
b    3
c    4
dtype: int64

In [72]:
s_re.reindex(['a','b','c','e']) #e가 추가되면서 NaN이 붙었다.

a    1.0
b    3.0
c    4.0
e    NaN
dtype: float64

In [73]:
s_re.reindex(['c','b','a'])# 원본 자체가 바뀐다.

c    4
b    3
a    1
dtype: int64

In [77]:
s1=pd.Series([10,20,30],index=[0,1,2])
s1.index.dtype

dtype('int64')

In [81]:
s2 = pd.Series([1,2,3],index=list('012'))
s2.index.dtype  #타입이 리스트 오브젝트

dtype('O')

In [83]:
s1+s2 #인덱스 타입이 달라서 요소 별 연산이 불가능하다.

0   NaN
1   NaN
2   NaN
0   NaN
1   NaN
2   NaN
dtype: float64

In [85]:
s2.index = [0,1,2]
s1+s2

0    11
1    22
2    33
dtype: int64

In [87]:
s3 = pd.Series([11,12,13],index=list('012'))
s3 = s3.rename({'0':0,'1':1,'2':2})

s1+s3

0    21
1    32
2    43
dtype: int64